body{
    background-image: url("../imgs/recipeImages/silverware.jpg");
    background-attachment: fixed;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;


}

a{
    color: #A4A400;
    text-decoration: none;
}

h1, h2{
    color: #A4A400;
    background-color: #F0f0f0;
    text-decoration: underline;
    font-family: 'Lucida Sans Unicode', Helvetica,Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    
}
h2{
    font-size: 18pt;
}
.comment-div{
background-color: yellow;
width: 90vw;
margin: 0 auto;
/* width: 90vw; */

}
.comments P{
   font-style: italic;
}
.flex {
    display: flex;
}
.flex-r{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
}
.footer-img{
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    background-color: #A4A400;
}
.footer-img a{
    display: inline;
}
.unstyled > li{
    text-decoration: none;
    list-style: none;
    
}
.desc > li{
    list-style: none;
    
}

